body {
    font-family: Arial, sans-serif;
}

#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    transition: 0.3s;
}

#page-content-wrapper {
    margin-left: 0;
    transition: 0.3s;
}

#menu-toggle {
    margin-left: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    left: 0;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 250px;
}